{{ partial "header.html" . }}


<main class="content" role="main">

  {{ if and .IsHome .Content }}
  <h1>My Blog</h1>

  <p>Random thoughts and pieces on multiple topics.</p>
  <p>I like data and science.</p>
  <article class="article">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ else }}
  <div class="archive">
    {{ range (where .Site.Pages "Type" "post").GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}

</main>

{{ partial "footer.html" . }}
